<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property resource="application.properties"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm} %c{20} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    
    <property name="LOG_DIR" value="${naverest.logPath}" />
	<property name="LOG_PATH_NAME" value="${LOG_DIR}/stdout.log" />
    <appender name="FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%date] %-4relative [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
 
    <logger name="kgw.reservation" level="DEBUG"/>
    <logger name="org.springframework" level="info" />
    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="TRACE" />
    
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>